{% extends "base.html" %}
{% block title %}Página inicial{% endblock title %}Página inicial
{% block content %}
  <h3>Pokemons</h3>
    <ul class="list-group">
      {% for pokemon in pokemons %}
      <li class="list-group-item">
          <a href="{{pokemon.id}}">{{ pokemon | capfirst }}</a>
      </li>
      {% endfor %}
    </ul>
  <h3>Entrenadores</h3>
  <ul class="list-group">
    {% for trainer in trainers %}
    <li class="list-group-item">
        <a href="trainer/{{trainer.id}}">{{ trainer | capfirst }}</a>
    </li>
    {% endfor %}
  </ul>
{% endblock content %}

